<!doctype html>
<html>  <!-- html TAG open -->
   <body>  <!-- body TAG open-->
   
      <form action = "/result" method = "POST">  <!-- form TAG open -->
         <p>Name <input type = "text" name = "Name" /></p>  <!-- p & input TAG open/close -->
         
         <p>Student Number <input type = "text" name = "Student Number" /></p>

         <p>Gender <p><input type = "radio" name = "Gender" value = "Male" checked>Male
         <input type = "radio" name = "Gender" value = "Female">Female </p>

         <p>Major <input type = "text" name = "Major" /></p>

         <p>Programming Languages<p><input type = "checkbox" name = "Programming Languages" value = "Python" checked>Python
         <input type = "checkbox" name = "Programming Languages" value = "Java" checked>Java
         <input type = "checkbox" name = "Programming Languages" value = "HTML" checked>HTML
         <input type = "checkbox" name = "Programming Languages" value = "C++" checked>C++  </p>

         <p><input type = "submit" value = "submit" /></p>  <!-- p & input TAG open/close -->
      </form> <!-- form TAG close-->
      
   </body>  <!-- body TAG close -->
</html>  <!-- html TAG close -->